<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108192911134-ss5o8bnlseictia8okpjr420r3j236p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108192911134-ss5o8bnlseictia8okpjr420r3j236p1</string>
	<key>API_KEY</key>
	<string>AIzaSyBx7xHKzOpFapd2boy5fj2i1RBc8KuTVOI</string>
	<key>GCM_SENDER_ID</key>
	<string>108192911134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.byatFlutter</string>
	<key>PROJECT_ID</key>
	<string>bayt-c76f3</string>
	<key>STORAGE_BUCKET</key>
	<string>bayt-c76f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108192911134:ios:43f316eca5095115a1c30f</string>
</dict>
</plist>